*{
    margin: 0;
    padding: 0;
    /* font-family: 'Courier New', Courier, monospace; */
    box-sizing: border-box;
}

.clock{
    width: 14%;
    height: 30px;
    position: absolute;
    color: aliceblue;
    top: 15px;
    left: 80%;
    
    font-size:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 1000;
}